.cadUser {
  width: 96%;
  height: 680px;
  background-color: #22222288;
  backdrop-filter: saturate(180%) blur(15px);
  border-radius: 10px;
  border: 1px solid #333;
  overflow: auto;
  display: flex;
}

.cadUser__info {
  border-radius: 10px 0px 0px 10px;
  width: 380px;
  height: 680px;
  border-right: 2px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22222244;
}

.cadUser__info h1 {
  margin: 0;
  color: darkcyan;
  font-weight: 200;
  font-size: 32px;
  text-shadow: 1px 1px #222;
}

.cadUser__info p {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  color: #fff;
  font-weight: 200;
  font-size: 16px;
  text-shadow: 1px 1px #222;
}

.cadUser__form {
  margin-left: 30px;
}

.cadUser__formTitle h1 {
  margin: 0;
  margin-top: 30px;
  color: darkcyan;
  font-weight: 200;
  font-size: 32px;
  text-shadow: 1px 1px #333;
}

.cadUser__formData {
  margin-top: 40px;
}

.cadUser__formInput-2 {
  color: #ddd;
  display: flex;
  justify-content: space-between;
  width: 680px;
  margin-bottom: 20px;
}

.cadUser__group {
  display: flex;
  flex-direction: column;
}

.cadUser__group label {
  margin: 12px 0px;
}

.cadUser__group input {
  outline: none;
  border: none;
  background: none;
  font-size: 16px;
  border: 2px solid #555;
  padding: 12px 8px;
  width: 300px;
  border-radius: 8px;
  color: #eee;
}

.cadUser__group input:focus {
  border: 2px solid darkcyan;
}

.req {
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin-left: 4px;
}

.cadUSer__formActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.cadUSer__formActions button {
  outline: none;
  background: none;
  border: none;
  background-color: darkcyan;
  color: #eee;
  font-size: 18px;
  width: 160px;
  height: 40px;
  border-radius: 8px;
}

.cadUSer__upload {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.cadUSer__upload label {
  margin-bottom: 20px;
  color: #ddd;
}