.login {
  background-color: #111111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='129' height='129' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230e0e0e' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.6'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.login__form {
  backdrop-filter: saturate(180%) blur(5px);
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 340px;
  border-radius: 30px;
  overflow: hidden;
  align-items: center;
  transition: .2s;
  border: 1px solid #333;
}

.login__form h1 {
  color: #999;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 32px;
  text-transform: uppercase;
}

.login__form input {
  width: 80%;
  margin-top: 16px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #888;
  font-size: 16px;
  padding: 14px 8px;
  color: #eee;
}

.login__form button {
  border: none;
  outline: none;
  background: none;
  margin-top: 36px;
  width: 400px;
  height: 50px;
  background:linear-gradient(90deg, #536976 0%,#292e49 100% );
  color: #eee;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 30px;
  transition: .4s;
}

.login__form button:hover {
  box-shadow: 
    -2px -2px 20px 0 #333,
    10px 10px 20px 0 #000
  ;
  transition: .6s;
}